.product-summary{
    margin-top: 70px;
    padding: 50px;
    line-height: 35px;
}
.prd-sum-title{
    color: hsl(26, 100%, 55%);
    font-size: 10px;
    font-weight:900;
    letter-spacing: 2px;
    margin: 10px;
}

.product-summary h3{
    font-size: 2.5rem;
    width: 10em;
    margin: 10px;
    line-height: 45px;
}

.prd-sum-par{
    color: grey;
    font-size: 13px;
    font-weight: 400;
    width: 350px;
    margin: 10px;
    line-height: 22px;
}

.price-discount{
    display: flex;
    gap: 10px;
}

.price-discount h5{
    font-size: 0.8rem;
    background-color: hsl(25, 100%, 94%);
    color: orange;
    /* height: 18px; */
    padding: 0 4px 0 4px   ;
    margin-top: 14px;
    height: 30px; 
    border-radius: 5px;
}

.price-discount p{
    font-size: 1.7rem;
    font-weight: 700;
    margin: 10px;
}

.product-summary h4{
    color: rgb(184, 180, 180);
    font-size: .9rem;
    text-decoration: line-through 1.3px;
    font-weight: 550;
    margin: 10px;
    line-height: .1px;
}

.numbers-submit{
    display: flex;
    gap: 20px;
}

.plus-minus{
    background-color: hsl(223, 64%, 98%);
    width: 37%;
    text-align: center;
    padding: .4rem;
    border-radius: 10px;
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: space-around;
}

.plus{
    cursor: pointer;
}

.minus{
    cursor: pointer;
}

.AddCart{
    cursor: pointer;
    background-color: hsl(26, 100%, 55%);
    color: white;
    width: 45%;
    text-align: center;
    padding: .4rem;
    border-radius: 10px;
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: space-around;
    font-size: 13px;
    font-weight: 700;
}

.AddCart img{
    filter: brightness(100);
    margin-right: -55px;
}


@media(max-width: 415px){
    .product-summary{
        display: flex;
        flex-direction: column;
        margin-top: 70%;
        width: 100%;
        padding: 5px;
        line-height: 35px;
    }
    .plus-minus{
        background-color: hsl(223, 64%, 98%);
        width: 80%;
        text-align: center;
        padding: .4rem;
        border-radius: 10px;
        display: flex;
        margin-top: 20px;
        align-items: center;
        justify-content: space-around;
        margin-left: -20px;
    }
    
    .plus{
        cursor: pointer;
    }
    
    .minus{
        cursor: pointer;
    }
    .numbers-submit{
        display: flex;
        flex-direction: column;
        align-items: center;
        
        gap: 10px;
    }
    
    .AddCart{
        cursor: pointer;
        background-color: hsl(26, 100%, 55%);
        color: white;
        width: 80%;
        text-align: center;
        padding: .4rem;
        border-radius: 10px;
        display: flex;
        margin-top: 20px;
        align-items: center;
        justify-content: space-around;
        
        font-size: 13px;
        font-weight: 700;
        margin-left: -20px;
    }

    .AddCart p{
        margin-left: -40px;
    }
}