@media screen and (min-width: 1200px){
    .product-page{
        padding: 80px;
    }

    .previous-btn{
        display: none;
    }

    .next-btn{
        display: none;
        
    }
    
    .images{
        position: relative;
        width: 25rem;
        height: 23rem;
        border-radius: 15px;
    }
   

    .images-thumbnail{
        width: 70px;
        margin: 15px;
        border-radius: 10px;
    }

    .images-thumbnail:hover {
        background-color: #fff;
        cursor: pointer;
        opacity: 0.7;
    }
}


@media screen and (max-width: 600px){

    .product-page{
        display: relative;
        display: block;
     
    }

    .images{
        position: absolute;
        z-index: 1;
    }
    
.buttons{
    position: absolute;
    display: block;
    align-items: center;
    justify-content: space-around;
    padding-top: 130px;
    padding-left: 60px;
    margin-left: auto;
    margin-right: auto;
}

    .previous-btn{
        position: absolute;
        z-index: 2;
        padding: 10px;
        width: 20px;
        height: 20px;
        filter: brightness(2);
        border-radius: 50%;
        background-color: white;
        cursor: pointer;
        left: 3rem;
    }

    .next-btn{
        position: absolute;
        z-index: 2;
        padding: 10px;
        width: 20px;
        height: 20px;
        filter: brightness(2);
        border-radius: 50%;
        background-color: white;
        cursor: pointer;
        left: 18.5rem;
    }

    .thumbnails{
        display: none;
        padding-top: 250px;
    }


}