
 @import url('https://fonts.googleapis.com/css2?family=Inter&family=Karla&family=Kumbh+Sans:wght@400;600;700;800&display=swap');
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  right: auto;
} 

 body {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Kumbh Sans';
  font-size: 1.6rem; 
  align-items: center;
  justify-content: center;
} 

#root{
  max-width: 144rem;
  right: 0;
  margin: 0 auto;
  position: relative;
  height: auto;
}
