/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Karla&family=Kumbh+Sans:wght@400;600;700;800&display=swap');
*,*::after,*::before {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  /* transition: all 0.15s ease-in; */
  text-decoration: none;
  list-style: none;
}

 body {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Kumbh Sans';
  font-size: 1.6rem; 
  width: 100%;
  align-items: center;
  justify-content: center;
  right: 0;
} 

#root{
  max-width: 144rem;
  right: 0;
  margin: 0 auto;
  position: relative;
  height: auto;
}



@media (max-width: 415px) {
  body{
    margin: 0;
    left: 0;
    right: 0;
    width: 400px;
    height: auto;
  }
}